apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tax-tracker-postgres-data
  namespace: tax-tracker
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

